.section1{
    background: linear-gradient(to right, #ff1493, #00bfff);
padding: 80px 40px;
position: absolute;
height: 519px;
width: 100%;
color: white;
}


.section2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 40px 90px;
gap: 40px;
position: absolute;
height: 411px;
width: 100%;
top: 610px;
background: #F1F1F1;
border-radius: 0px;
}
.section2 p{
    text-align: center;
    font-size: large;
    font-weight: 600;
}
@media (max-width: 767px) {
    .section1{
    position: relative;
    padding: 10px 15px;
    color: black;
    height: fit-content;
  }
  .section2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 40px 90px;
gap: 40px;
position: absolute;
height: fit-content;
width: 100%;
top: 700px;
background: #F1F1F1;
border-radius: 0px;
}
    .section2 h1{
        padding-top: 0px;
    }
    .section2 p{
        width: 85%;
        margin-left: 0px;
    
    }
}