.section1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 40px 112px;
gap: 40px;

position: absolute;
width: 100%;
height: 2018px;
color: aliceblue;
top: 2647px;

background: #0A2A42;
border-radius: 0px;
}
@media (max-width: 767px) {
    .section1{
        padding: 40px 40px 112px;
        background: #0A2A42;
        border-radius: 0px;
        margin-top: 320%;
        height: fit-content;
    }
}

@media only screen and (min-width: 834px) and (max-width: 1194px) {
    .section1{

    height: fit-content;
    color: aliceblue;
    top: 2647px;
  
    }

}
