.section1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 40px 90px;
gap: 40px;

position: absolute;
width: 100%;
height: fit-content;
top: 4675px;

background: #FCFCFF;
border-radius: 0px;
}

.section1 button{
    gap: 16px;
    width: 270px;
    height: 50px;
    color: white;
    background: #904230;
border-radius: 20px;
margin-inline: 20px;
}
@media (max-width: 767px) {
    .section1{
    height: fit-content;
    margin-top: 4600px;
   
    }
    
}
@media only screen and (min-width: 834px) and (max-width: 1194px) {
    .section1{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px 90px;
    gap: 40px;
    
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 4870px;
    
    background: #FCFCFF;
    border-radius: 0px;
    }
}
