.section1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 40px;

position: absolute;
height: 730px;
width: 100%;
top: 5870px;
color: white;
background: #5350DF;
border-radius: 0px;
}
.section1 h1{
    margin-top: -10%;
}
.section1 img{
    margin-left: -45%;
}

.questions{
    margin-left: 40%;
    margin-top: -28%;
}
@media (max-width: 767px) {
    .section1{
     height: fit-content;
    width: 100%;
    margin-top: 6550px;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
    .section1 h1{
        margin-top: 5%;
    }
    .section1 img{
        margin-left: 0%;
        height: 300px;
        width: 100%;
    }
    
    .questions{
        margin-left: 0%;
        margin-top: 0%;
    }
}
@media only screen and (min-width: 834px) and (max-width: 1194px) {
    .section1{

    top: 6270px;
 
    }
    .section1 img{
        margin-left: -50%;
    }
    
    .questions{
        margin-left: 50%;
        margin-top: -40%;
    }
}