.section1{
    display: flex;
flex-direction: column;
align-items: center;
padding: 40px;
gap: 20px;

position: absolute;
height: fit-content;
width: 100%;
top: 4180px;

background: #F1F1F1;
border-radius: 0px;
}
.section1 img{
    margin-left: -900px;
}
.questions{
    margin-top: -38%;
    line-height: 30px;
    width: 60%;
    margin-left: 500px;
}
@media (max-width: 767px) {
  
    .section1{
        height: fit-content;
        width: 100%;
           top: 9170px;
        background: #F1F1F1;
        border-radius: 0px;
        }
        .section1 h1{
          text-align: center;
        }
     
        .section1 img{
       
        height: 468px;
    margin-left: 60px;
        }
        .questions {
        width: 350px;
        margin-left: 0px;
        margin-top: 50px;
        }
}

@media only screen and (min-width: 834px) and (max-width: 1194px) {

    .section1{
        display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 4310px;
    
    background: #F1F1F1;
    border-radius: 0px;
    }
    .section1 img{
        margin-left: -700px;
    }
    .questions{
        margin-top: -58%;
        line-height: 30px;
        width: 60%;
        margin-left: 450px;
    }
}
@media only screen and (min-width: 834px) and (max-width: 1400px) {

    .questions{
        margin-top: -50%;
        line-height: 30px;
        width: 60%;
        margin-left: 450px;
    }
    .section1 img{
        margin-left: -830px;
    }
  .section1 h1{
    padding-bottom: 2%;
  }
  .section1{
    top: 4260px;
  }
}
