/* Cards.js css section */
.cardLayout{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 112px;
  gap: 40px;
  height: fit-content;
  position: absolute;
width: 100%;
  top: 1100px;

  background: #1E1E1E;
  border-radius: 0px;
  }
  
  .cardLayout h1{
    width: 1360px;
  height: 58px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  margin-top: 30px;
  text-align: center;
  color: #FFFFFF;
  
  }
  .cardLayout p{
    width: 1360px;
  height: 30px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  
  text-align: center;
  
  color: #EA6656;
  }
.cardLayout h3{
  color: white;
  line-height: 50px;
  text-align: center;
}

  @media (max-width: 767px) {
    .cardLayout {
        padding: 20px;
        margin-top: 270px;
      }
      
      .cardLayout h1 {
        width: 100%;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
      }
      
      .cardLayout p {
        width: 80%;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }
      .cardLayout h3{
       font-size: 14px;
      }
    
}