.Contact{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
height: 856px;
width: 100%;
top: 6100px;
background: #343434;
}
.container{
    display: flex;
flex-direction: column;
align-items: flex-start;

padding: 45px;
gap: 36px;
width: 600px;
height: fit-content;
background: #5EABE3;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.container2{
margin-left: 20px;
margin-top: -500px;
}
.container2 h1{
    color: white;
}
.circle1{
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 90px;
    left: 730px;
    top: 250px;
    border-radius: 45px;
    border: 1px solid #FFFFFF;

}
.circle1 h5,.circle2 h5, .circle3 h5 , .circle4 h5{
    color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
}
.circle1 p, .circle2 p, .circle3 p, .circle4 p{
    color: aliceblue;
margin-left: 130px;
width: 300px;
margin-top: -30px;
}
.circle2{
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 90px;
    left: 730px;
    top: 400px;
    border-radius: 45px;
    border: 1px solid #FFFFFF;

}

.circle3{
    box-sizing: border-box;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 730px;
    top: 550px;
    border-radius: 45px;
    border: 1px solid #FFFFFF;

}
.circle4{
    box-sizing: border-box;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 730px;
    top: 700px;
    border-radius: 45px;
    border: 1px solid #FFFFFF;

}

@media (max-width: 767px) {
    .Contact{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 1700px;
    width: 100%;
    top: 12480px;
    background: #343434;
    }
    .container{
        display: block;
    align-items: center;
    padding: 25px;
    gap: 36px;
    width:auto;
    height: fit-content;
    background: #5EABE3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top:-700px ;
    margin-left: 40px;
    }
    .container2{
  margin-left: 0px;
    margin-top: 100px;
    }
    .container2 h1{
        color: rgb(253, 253, 253);
        margin-left: -320px;
        margin-top: 200px;
    width: fit-content;
    }
    
    .circle1, .circle2, .circle3, .circle4{
        box-sizing: border-box;
        position: absolute;
        max-height: 60px;
       max-width: 60px;
        margin-left: -700px;
        margin-top: 850px;
        border-radius: 45px;
        border: 1px solid #ffffff;
    }

    .circle1 h5,.circle2 h5, .circle3 h5 , .circle4 h5{
        color: rgb(255, 255, 255);
        margin-left: 10px;
        margin-top: 10px;
    
    }
    .circle1 p, .circle2 p, .circle3 p, .circle4 p{
        color: rgb(255, 255, 255);
    margin-left: 90px;
    width: 300px;
    margin-top: -30px;
    }
    .circle2{
        box-sizing: border-box;
    
        position: absolute;
        width: 90px;
        height: 90px;
        left: 730px;
        top: 400px;
        border-radius: 45px;
        border: 1px solid #FFFFFF;
    
    }
    
    .circle3{
        box-sizing: border-box;
        position: absolute;
        width: 90px;
        height: 90px;
        left: 730px;
        top: 550px;
        border-radius: 45px;
        border: 1px solid #FFFFFF;
    
    }
    .circle4{
        box-sizing: border-box;
        position: absolute;
        width: 90px;
        height: 90px;
        left: 730px;
        top: 700px;
        border-radius: 45px;
        border: 1px solid #FFFFFF;
    
    }
}
@media only screen and (min-width: 834px) and (max-width: 1194px) {

    .container{
    margin-left: 1%;
    width: 580px;
    height: fit-content;
   
    }
    .container2{
    margin-left: 20px;
    margin-top: -500px;
    }
    .container2 h1{
        color: white;
        font-size: 35px;
    }
    .circle1, .circle2,.circle3, .circle4{
        left: 600px;
     
    }

   
}
